<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Directory listing for /roles/mysql_setup/templates/</title>
</head>
<body>
<h1>Directory listing for /roles/mysql_setup/templates/</h1>
<hr>
<ul>
<li><a href="my.cnf.j2">my.cnf.j2</a></li>
<li><a href="root-my.cnf.j2">root-my.cnf.j2</a></li>
<li><a href="user-my.cnf.j2">user-my.cnf.j2</a></li>
</ul>
<hr>
</body>
</html>
